$btn-color: rgb(89, 169, 240);

.user-view {
  background-color: #122535;
  padding: 5px;
  color:white;
  font-family: 'Joan', serif;
}






.user-title{
    text-align: center;
}

.backbtn{
    margin-left: 50%;
    margin-right: 50%;
    padding: 5px;
}



     

