$background-color: #0d1a25;



.genreImg{
    
    text-decoration: none;
    color: #ffffff;
    background-color: #122535;
    font-family: 'Joan', serif;
    text-align: center;
    padding: 30px;
    padding-bottom: 60px;
    padding-top: 60px;
    
    
   
}

.genreImg:hover{
    text-decoration: none;
}