$btn-color: rgb(89, 169, 240);

.movie-view {
  background-color: #122535;
  padding: 5px;
  color:white;
  font-family: 'Joan', serif;
}



.image {
  height: 50vh;
  padding: 10px;
  
}



.movie-title{
    text-align: center;
}

.backbtn{
    
    padding: 5px;
}

.actor-image, .director-image{
  height:30vh
}

.actor-grid, .director-grid{
  display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        
}


