$btn-color: rgb(89, 169, 240);

.movie-view {
  background-color: #122535;
  padding: 5px;
  color:white;
  font-family: 'Joan', serif;
}


// .movie-size{
//   height:60vh;
// }

.image {
  height: 50vh;
  padding: 10px;
  // display: block;
  // margin-left: auto;
  // margin-right: auto;
}

.movie-title{
    text-align: center;
}

.backbtn{
    
    padding: 5px;
}

.actor-image, .director-image{
  height:30vh
}

.actor-grid, .director-grid{
  display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        
}

.wrapper {
  flex: 25%;
  // @media (max-width: 600px) {
  //     flex: 100%;
  // }
  // @media (min-width: 900px) {
  //     flex: 50%;
  // }
}

// 768 1106
// @media()
